<div class="container__big-card">
    <div class="big-card__photo">
        <img 
        src="{{photoCover}}"
        alt="" 
        height="200px"
        width="100%"
        srcset="">
    </div>


    <a href="" target="_blank">
        <div class="big-card__title">
            <h1><a [routerLink]="['content', Id]"></a>{{cardTitle}}</h1>
        </div>
    
        <div class="big-card__description">
            <p>
                {{cardDescription}}
            </p>
        </div>
    </a>

</div>